@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .font-cursive {
    font-family: "Cursive", cursive;
  }

  /* Custom Colors */
  .bg-primary {
    @apply bg-sky-900; /* Hero, buttons, headers */
  }

  .bg-secondary {
    @apply bg-yellow-500; /* Accents, highlights */
  }

  .text-primary {
    @apply text-sky-900; /* Headings, links */
  }

  .text-secondary {
    @apply text-yellow-500; /* Badges, stats, highlights */
  }

  .main-text {
    @apply text-gray-800; /* Main Text */
  }

  .card-bg {
    @apply text-slate-50; /* Sections, cards */
  }

  /* Background image for FlagShip section */
  .bg-flagship {
    background-image: url("/images/flagship3_0.jpg.webp");
    background-size: cover;
    background-position: center;
  }
}
